[submodule "moodle"]
	path = moodle
	url = https://github.com/moodle/moodle.git
[submodule "moodle-internallogin"]
	path = moodle-internallogin
	url = https://github.com/ucsf-ckm/moodle-internallogin.git
